---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='NamingSystem' id='no-basis-her-id' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: HERId - Change History</h2>
  <p>History of changes for no-basis-her-id {{type | downcase}}.</p>

  {%include NamingSystem-no-basis-her-id-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
